.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  transition: all 600ms linear;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    position: relative;
    z-index: 5;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.mobile-landscape-0 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.container-large {
  width: 100%;
  max-width: 76rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large.position-relative {
  position: relative;
}

.padding-section-medium {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-section-medium.border-top {
  border-top: 1px solid #b7b8ba;
}

.gallery_grid-list {
  justify-items: stretch;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .gallery_grid-list {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
}

.gallery_row {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .gallery_row {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .gallery_row {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .gallery_row {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

.gallery_image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .gallery_image {
    max-width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .gallery_image {
    max-width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .gallery_image.is-large {
    max-width: 100%;
  }
}