.section_layout {
  background-color: #031e6c;
}

.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  transition: all 600ms linear;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    position: relative;
    z-index: 5;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.mobile-landscape-0 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.container-large {
  width: 100%;
  max-width: 76rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large.position-relative {
  position: relative;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-bottom.padding-xhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xhuge {
  padding: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-xhuge {
    padding: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xhuge {
    padding: 4rem;
  }
}

.padding-bottom.padding-xxlarge {
  padding-bottom: 5rem;
}

.padding-xxlarge {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-xxlarge {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxlarge {
    padding: 3rem 0rem;
  }
}

.padding-bottom.padding-huge {
  padding-bottom: 7rem;
}

.padding-huge {
  padding: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-huge {
    padding: 3.5rem;
  }
}

.layout_grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .layout_grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
}

.layout_item {
  padding: 2.625rem 2rem;
  border-radius: 1.5rem;
  background-color: #f2f5fe;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .layout_item {
    padding: 1.5rem;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.25rem;
  }
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1rem;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-xxsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.25rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-bottom: 3.5rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.margin-bottom.margin-custom2 {
  margin-bottom: 2.625rem;
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-custom2 {
    margin-bottom: 1rem;
  }
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-bottom.margin-custom3 {
  margin-bottom: 3.125rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.layout_icon-wrapper {
  display: inline-flex;
  width: 72px;
  height: 71px;
  padding: 0.53875rem;
  justify-content: center;
  align-items: center;

  border-radius: 1.5rem;

  background-color: white;

  color: #219653;
}

.icon-embed-custom-14 {
  display: flex;
  width: 2.0625rem;
  height: 2.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-size-xxmedium {
  font-size: 1.75rem;
}

.text-weight-medium {
  font-weight: 500;
}

.text-color-8 {
  color: #072474;
}

.spacer-xxmedium {
  width: 100%;
  padding-top: 1.25rem;
}

.text-size-xregular {
  font-size: 1.125rem;
}

.text-size-xregular.text-color-darkblue {
  color: #081330;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .text-size-xregular.text-color-darkblue {
    font-size: 1rem;
  }
}

.text-color-darkblue {
  color: var(--base-color-brand--dark-blue);
}

.text-align-center {
  position: relative;
  z-index: 1;
  text-align: center;
}

.text-size-xregular.text-color-darkblue.is-opacity70 {
  color: hsla(223.5, 71.43%, 10.98%, 0.70);
}

@media screen and (max-width: 479px) {
  .text-size-xregular.text-color-alternate {
    max-width: none;
  }
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

@media screen and (max-width: 479px) {
  .text-color-alternate {
    width: auto;
    max-width: 215px;
  }
}

.text-size-xregular.text-color-alternate.is-opacity70 {
  color: hsla(0, 0.00%, 100.00%, 0.70);
}

.text-color-blue {
  color: var(--base-color-brand--blue);
}

@media screen and (max-width: 767px) {
  .text-size-xregular.text-weight-medium.text-color-4 {
    font-size: 0.875rem;
  }
}

.text-color-4 {
  color: var(--base-color-brand--color-4);
}

.text-size-xregular.text-weight-medium.text-color-5 {
  color: #3b4d80;
}

.text-color-5 {
  color: #59667b;
}

.text-size-xregular.text-weight-medium.text-color-darkblue {
  font-weight: 500;
}

.text-color-offwhite {
  color: hsla(0, 0.00%, 100.00%, 0.76);
}

.text-size-xregular.text-weight-medium.text-color-offwhite.border-bottom {
  padding-bottom: 3rem;
  border-bottom: 1px solid hsla(0, 0.00%, 100.00%, 0.34);
}

.text-color-gray {
  color: var(--base-color-brand--gray);
}

.text-color-opacity {
  color: hsla(0, 0.00%, 0.00%, 0.70);
}

.text-size-xregular.text-weight-medium.text-color-green {
  color: #219653;
}

.text-color-12 {
  color: #022712;
}

.text-weight-bold {
  font-weight: 700;
}

.text-color-10 {
  color: #63697d;
}

.text-size-xregular.text-weight-bold.text-color-10.text-style-2lines {
  text-decoration: line-through;
}

.text-size-xregular.text-weight-bold.text-color-offwhite.text-style-2lines {
  text-decoration: line-through;
}

.text-color-13 {
  color: #239553;
}

.text-color-14 {
  color: #127ec8;
}

.text-color-15 {
  color: #9f9f9f;
}

.text-size-xregular.text-color-nightred {
  color: #381619;
}

.text-color-offblue {
  color: #001d6e;
}

.text-color-7 {
  color: #475467;
}

.text-color-11 {
  color: #e5f0ff;
}

#w-node-_877347a1-45a2-8c7b-212d-f89aee76fd61-ee76fd5c {
}
#w-node-_877347a1-45a2-8c7b-212d-f89aee76fd6a-ee76fd5c {
}
#w-node-_877347a1-45a2-8c7b-212d-f89aee76fd73-ee76fd5c {
}
#w-node-_877347a1-45a2-8c7b-212d-f89aee76fd7c-ee76fd5c {
}