.section_progress {
  background-color: #f2f5fe;
}

.hide {
  display: none;
}

.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  transition: all 600ms linear;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    position: relative;
    z-index: 5;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.mobile-landscape-0 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.container-large {
  width: 100%;
  max-width: 76rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large.position-relative {
  position: relative;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-vertical.padding-large {
  padding-top: 0rem;
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 1.5rem;
  }
}

.padding-vertical.padding-custom3 {
  padding-top: 5.5rem;
  padding-bottom: 2.625rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-vertical.padding-custom1 {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .padding-vertical.padding-custom1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-custom1 {
  padding: 1.5rem;
}

.padding-vertical.padding-custom2 {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 479px) {
  .padding-vertical.padding-custom2 {
    padding-top: 3rem;
  }
}

.padding-custom2 {
  padding: 2.5rem;
}

.padding-vertical.padding-custom4 {
  padding-top: 7rem;
  padding-bottom: 5.5rem;
}

@media screen and (max-width: 767px) {
  .padding-vertical.padding-custom4 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-vertical.padding-custom5 {
  padding-top: 5.5rem;
  padding-bottom: 4rem;
}

.padding-vertical.padding-custom5.is-reverse {
  padding-top: 4rem;
  padding-bottom: 5.5rem;
}

.padding-vertical.padding-custom6 {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 479px) {
  .padding-vertical.padding-custom6 {
    padding-top: 3rem;
  }
}

.padding-vertical.padding-custom7 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.padding-vertical.padding-custom8 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.padding-vertical.padding-custom9 {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
}

.padding-xlarge {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xlarge {
    padding: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-xlarge {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-vertical.padding-custom10 {
  padding-top: 6rem;
  padding-bottom: 5.5rem;
}

.padding-vertical.padding-huge {
  padding-top: 4rem;
  padding-bottom: 7rem;
}

.padding-huge {
  padding: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-huge {
    padding: 3.5rem;
  }
}

.padding-vertical.padding-custom11 {
  padding-top: 5.5rem;
  padding-bottom: 7rem;
}

.padding-vertical.padding-custom12 {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.progress_component {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.text-align-center {
  position: relative;
  z-index: 1;
  text-align: center;
}

.text-size-small {
  font-size: 0.875rem;
}

.text-align-center.z-index-2 {
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .text-align-center.z-index-2 {
    z-index: 2;
  }
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.heading-style-h2 {
  font-family: Addingtoncf;
  color: white;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .heading-style-h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-style-h2 {
    font-size: 2rem;
  }
}

.text-color-darkblue {
  color: var(--base-color-brand--dark-blue);
}

.text-color-offblue {
  color: #001d6e;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

@media screen and (max-width: 479px) {
  .text-color-alternate {
    width: auto;
    max-width: 215px;
  }
}

.heading-style-h2.position-relative {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .heading-style-h2.position-relative {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-style-h2.position-relative {
    z-index: 7;
  }
}

@media screen and (max-width: 479px) {
  .heading-style-h2.position-relative {
    z-index: 7;
    font-size: 1.7rem;
  }
}

.heading-style-h2.is-secondary {
  color: #031e6c;
  font-size: 3rem;
}

@media screen and (max-width: 767px) {
  .heading-style-h2.is-secondary {
    font-size: 2.5rem;
  }
}

.heading-style-h2.is-secondary.text-color-6 {
  color: #e2edff;
}

.text-color-6 {
  color: #e2edff;
}

.heading-style-h2.is-secondary.text-color-alternate {
  color: white;
}

@media screen and (max-width: 479px) {
  .heading-style-h2.is-secondary.text-color-alternate {
    max-width: none;
    font-size: 1.75rem;
  }
}

.heading-style-h2.text-color-black {
  color: black;
}

.heading-style-h2.is-third {
  color: #f6f6ff;
  font-size: 4.5rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .heading-style-h2.is-third {
    font-size: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .heading-style-h2.is-third {
    max-width: 295px;
    font-size: 2rem;
  }
}

.heading-style-h2.is-third.text-weight-semibold {
  font-weight: 600;
}

.text-weight-semibold {
  font-weight: 600;
}

.heading-style-h2.is-third.text-weight-semibold.text-color-alternate {
  color: white;
}

@media screen and (max-width: 767px) {
  .heading-style-h2.is-third.text-weight-semibold.text-color-alternate {
    font-size: 2rem;
  }
}

.heading-style-h2.is-portfolio {
  font-size: 2.5rem;
}

@media screen and (max-width: 767px) {
  .heading-style-h2.is-portfolio {
    font-size: 2rem;
  }
}

.text-color-red {
  color: var(--base-color-brand--red);
}

.text-color-blue {
  color: var(--base-color-brand--blue);
}

.heading-style-h2.is-fourth {
  font-size: 3rem;
  font-weight: 400;
}

.text-span-4 {
  color: #002395;
}

.spacer-xmedium {
  width: 100%;
  padding-top: 1.5rem;
}

.text-size-xregular {
  font-size: 1.125rem;
}

.text-size-xregular.text-color-darkblue {
  color: #081330;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .text-size-xregular.text-color-darkblue {
    font-size: 1rem;
  }
}

.text-weight-medium {
  font-weight: 500;
}

.text-size-xregular.text-color-darkblue.is-opacity70 {
  color: hsla(223.5, 71.43%, 10.98%, 0.70);
}

@media screen and (max-width: 479px) {
  .text-size-xregular.text-color-alternate {
    max-width: none;
  }
}

.text-size-xregular.text-color-alternate.is-opacity70 {
  color: hsla(0, 0.00%, 100.00%, 0.70);
}

@media screen and (max-width: 767px) {
  .text-size-xregular.text-weight-medium.text-color-4 {
    font-size: 0.875rem;
  }
}

.text-color-4 {
  color: var(--base-color-brand--color-4);
}

.text-size-xregular.text-weight-medium.text-color-5 {
  color: #3b4d80;
}

.text-color-5 {
  color: #59667b;
}

.text-size-xregular.text-weight-medium.text-color-darkblue {
  font-weight: 500;
}

.text-color-offwhite {
  color: hsla(0, 0.00%, 100.00%, 0.76);
}

.text-size-xregular.text-weight-medium.text-color-offwhite.border-bottom {
  padding-bottom: 3rem;
  border-bottom: 1px solid hsla(0, 0.00%, 100.00%, 0.34);
}

.text-color-gray {
  color: var(--base-color-brand--gray);
}

.text-color-opacity {
  color: hsla(0, 0.00%, 0.00%, 0.70);
}

.text-size-xregular.text-weight-medium.text-color-green {
  color: #219653;
}

.text-color-12 {
  color: #022712;
}

.text-color-8 {
  color: #072474;
}

.text-weight-bold {
  font-weight: 700;
}

.text-color-10 {
  color: #63697d;
}

.text-size-xregular.text-weight-bold.text-color-10.text-style-2lines {
  text-decoration: line-through;
}

.text-size-xregular.text-weight-bold.text-color-offwhite.text-style-2lines {
  text-decoration: line-through;
}

.text-color-13 {
  color: #239553;
}

.text-color-14 {
  color: #127ec8;
}

.text-color-15 {
  color: #9f9f9f;
}

.text-size-xregular.text-color-nightred {
  color: #381619;
}

.text-color-7 {
  color: #475467;
}

.text-color-11 {
  color: #e5f0ff;
}

.progress_layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .progress_layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.progress_content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.heading-style-h6 {
  font-family: Satoshi;
  color: #072474;
  font-size: 2.625rem;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .heading-style-h6 {
    font-size: 1.25rem;
  }
}

.heading-style-h6.is-secondary {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}

.progress_content-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.progress_content-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.icon-embed-xsmall {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .icon-embed-xsmall {
    flex: 0 0 auto;
  }
}

.text-color-darkblue.is-opacity80 {
  color: hsla(223.5, 71.43%, 10.98%, 0.80);
}

@media screen and (max-width: 479px) {
  .text-color-darkblue.is-opacity80 {
    font-size: 0.875rem;
  }
}

.text-color-darkblue.is-opacity60 {
  color: hsla(223.5, 71.43%, 10.98%, 0.60);
}

.progress_image-wrapper {
  position: relative;

  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-end;

  border-radius: 1.5rem;
}

@media screen and (max-width: 991px) {
  .progress_image-wrapper {
    height: 276px;
  }
}

.progress_background-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .progress_background-image {
    object-fit: cover;
  }
}

.progress_image-content {
  z-index: 2;

  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  padding: 1.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 1rem;

  background-color: white;
}

@media screen and (max-width: 479px) {
  .progress_image-content {
    margin-left: 1rem;
    padding: 1rem;
  }
}

.progress_icon-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  color: #ffbc50;
}

@media screen and (max-width: 479px) {
  .progress_icon-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }
}

.icon-embed-custom-18 {
  display: flex;
  width: 10.6875rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.progress_rating-text {
  color: #072474;
  font-size: 1.375rem;
  font-weight: 700;
}

.progress_grid-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .progress_grid-list {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.progress_grid-item {
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: white;
}

@media screen and (max-width: 767px) {
  .progress_grid-item {
    padding: 1.5rem;
  }
}

.progress_grid-icon_wrapper {
  display: flex;
  width: 72px;
  height: 71px;
  justify-content: center;
  align-items: center;

  border-radius: 1.5rem;

  background-image: linear-gradient(180deg, #031e6c, #002395);

  color: white;
}

.icon-embed-custom-19 {
  display: flex;
  width: 2rem;
  height: 2.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.25rem;
  }
}

.margin-top.margin-small {
  margin-top: 1rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1rem;
}

.margin-top.margin-small {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-small {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2rem;
  }
}

.margin-top.margin-small {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-medium {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-custom2 {
  margin-top: 2.625rem;
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 1.5rem;
  }
}

.progress_item-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

.heading-style-h3 {
  font-family: Addingtoncf;
  color: white;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .heading-style-h3 {
    font-size: 1.5rem;
  }
}

.heading-style-h3.text-weight-medium {
  font-family: Satoshi;
}

.heading-style-h3.text-weight-medium.font-family-satoshi {
  font-family: Satoshi;
}

.heading-style-h3.text-color-darkblue.text-weight-semibold {
  font-weight: 600;
}

.heading-style-h3.newsletter-heading {
  font-size: 2.5rem;
}

@media screen and (max-width: 479px) {
  .heading-style-h3.newsletter-heading {
    font-size: 2rem;
  }
}

.progress-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.375rem;
  grid-row-gap: 0.375rem;
}

.icon-embed-custom-20 {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-weight-medium.text-color-gray.is-opacity70 {
  color: hsla(223.44827586206898, 17.16%, 33.14%, 0.70);
}

.text-weight-medium.text-color-blue.is-opacity70 {
  color: hsla(224.57142857142858, 94.59%, 21.76%, 0.70);
}

.text-weight-medium.text-color-darkblue.is-opacity60 {
  color: hsla(223.5, 71.43%, 10.98%, 0.60);
}

.text-weight-medium.text-color-darkblue.is-opacity70 {
  color: hsla(223.5, 71.43%, 10.98%, 0.70);
}

.text-size-medium {
  font-size: 1.25rem;
}

.text-color-9 {
  color: #44527c;
}

.text-color-secondary {
  color: #8d8d8d;
}

.text-size-regular {
  font-size: 1rem;
}

.progress-location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.375rem;
  grid-row-gap: 0.375rem;
}

.progress-cta {
  position: relative;
  padding: 4rem 2rem;
  border-radius: 1.5rem;
  background-image: linear-gradient(180deg, #031e6c, #1d3c95);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .progress-cta {
    padding: 1.5rem;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 767px) {
  .button-group {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.button-group.is-center {
  justify-content: center;
}

.button-group.is-center.position-relative {
  position: relative;
  top: -120px;
}

@media screen and (max-width: 767px) {
  .button-group.is-center.position-relative {
    top: -50px;
    z-index: 2;
  }
}

.button-group.is-vertical {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.button {
  padding: 0.75rem 1.5rem;

  border: 1px solid white;
  border-radius: 3rem;

  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0.00);

  color: var(--text-color--text-alternate);
  text-decoration: none;
}

.button.is-text {
  display: inline-flex;
  padding: 0rem;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-style: none;

  background-color: transparent;

  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  display: inline-flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 0.50);
  border-radius: 3.5rem;

  background-color: transparent;

  color: var(--text-color--text-primary);
}

.button.is-icon {
  display: inline-flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-style: none;
  border-radius: 3.438rem;

  background-color: var(--base-color-brand--blue);

  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .button.is-icon {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .button.is-icon {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.is-icon {
  position: relative;
  z-index: 1;
}

.button.is-icon.is-icon2 {
  z-index: 10;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(224.57142857142858, 94.59%, 21.76%, 0.19);
  background-color: hsla(224.57142857142858, 94.59%, 21.76%, 0.00);
}

.button.is-icon.background-color-alternate {
  display: inline-flex;
  background-color: var(--base-color-neutral--white);
  color: var(--base-color-system--focus-state);
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.button.is-icon.background-color-alternate.display-flex {
  display: flex;
}

.display-flex {
  display: flex;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 767px) {
  .display-flex {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.button.is-icon.background-color-alternate.is-full {
  width: 100%;
}

.button.is-icon.background-color-alternate.is-text-blue {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
  color: #001d6e;
}

.button.is-icon.inline-flex {
  display: inline-flex;
}

.button.is-icon.is-ressources {
  padding: 1.25rem 2.25rem;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  border-radius: 3.25rem;
  background-color: #001d6e;
}

.button.is-icon.is-ressources.is-white {
  background-color: white;
  color: #001d6e;
}

.button.is-icon.is-flex {
  display: flex;
}

.button.is-icon.is-border {
  border-style: solid;
  border-color: rgba(3, 30, 108, 0.19);
  background-color: hsla(224.57142857142858, 94.59%, 21.76%, 0.00);
  color: #031e6c;
}

.button.is-icon.is-border.is-white {
  border-color: white;
}

.button.is-icon.is-partenairat {
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  background-color: #002395;
}

.button.is-icon.is-green {
  background-color: #219653;
}

.button.is-icon.is-form {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.button.is-icon.is-zero {
  padding-right: 0rem;
  padding-left: 0rem;
  background-color: hsla(224.57142857142858, 94.59%, 21.76%, 0.00);
}

.button.is-icon.is-linear {
  background-image: linear-gradient(180deg, #031e6c, #1d3c95);
}

.button.is-pricing {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;

  background-color: #031e6c;
}

.button.is-pricing.is-blue {
  background-color: #002395;
}

.button.is-plan {
  display: flex;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  justify-content: center;
  align-items: center;

  background-color: #002395;

  font-size: 1.125rem;
  font-weight: 700;
}

.button.is-plan.is-green {
  background-color: #219653;
}

.button.formations_blog-button {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-color: #f2f5fe;
  border-radius: 0rem;

  background-color: #f2f5fe;
}

.icon-embed-custom-21 {
  display: flex;
  width: 1.5625rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress_background-vector {
  position: absolute;
  left: 10%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.progress_background-vector.is-second {
  left: auto;
  top: auto;
  right: 10%;
  bottom: 0%;
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none;
  }
}

#w-node-_26a9064a-3dd9-9d7f-1bb4-299287981af9-87981ae9 {
}
#w-node-_26a9064a-3dd9-9d7f-1bb4-299287981b0f-87981ae9 {
}
#w-node-_26a9064a-3dd9-9d7f-1bb4-299287981b19-87981ae9 {
}
#w-node-_26a9064a-3dd9-9d7f-1bb4-299287981b2a-87981ae9 {
}
#w-node-_26a9064a-3dd9-9d7f-1bb4-299287981b3b-87981ae9 {
}